// @import 'ant-design-vue/dist/antd.less'; // 引入官方提供的 less 样式入口文件
@import './common.scss';
@import 'color.scss';

body{
  background-color:#f5f1e8;
  font-size: calc(0.5em + 1vw);
  @media  screen and (max-width:800px) {
    font-size:0.875em;
  }
  @media screen and (max-width:1200px) {
    font-size: 1em;
  }
}

$primary-color: #111317;
